/compiled/
/test_out/
/node_modules/
/spec/ks/out/
/ci_results/

# Byte-compiled Python code
__pycache__/
*.py[co]

# Nim
_*
spec/nim/bin

# Rust compiled code, cargo and rls data
spec/rust/Cargo.lock
spec/rust/target/
spec/rust/src/formats/
spec/rust/.vscode
